header {
    padding: 0px;
    margin-bottom: 0px;
   }

#name {
    margin-top: 0px;
    margin-left: 300px;
    float: left;
    padding: 10px 50px;
    background-color:#4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
}
ul {
    position: relative;
    float: right;
    padding: 10px 0px 0px 0px;
    margin-right: 22%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
  }
  li {
    display: inline;
    }

li a:link {
    color:#777777;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
 }

 li a:visited {
    color:#777777;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
 }

 li a:hover {
    color:white;
    text-align: center;
    text-decoration: none;
    background-color: #4aaaa5;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
 } 



#full {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("../images/marble.jpg");
    background-repeat: repeat-x;
    border-top: 2px solid #cccccc;
    }

  aside {
    position: relative;
    float: center;
    width: 960px;
    height: 550px;
    padding: 15px 15px 30px 15px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: white;
    border: 1px solid #777777;
    border-radius: 5px;
  }
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    color: #4aaaa5;
    float: left;
    margin-left: 30px;
}  
img {
    float: left;
    width: 200px;
    height: 200px;
    margin:  20px 20px 0px 20px;
   

}
p {
    padding: 10px 20px 0px 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
    color: #777777;
    line-height: 40px;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #666666;
    height: 50px;
    }
    
    #footer {
        position: relative;
        width: 100%;
        height: 30px;
        text-align: center;
        bottom: 0;
        color: white;
         }

.footer {
    position: relative;
    padding: 5px;
    margin-top: 20px;
    background-color:#4aaaa5;
    }

input[type=text] {
        width: 100%;
        padding: 8px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
      }
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #ffffff;
        resize: none;
      }
    .btn {
        background-color: #4aaaa5;
        border: 1px #777777;
        border-radius: 5px;
        color: white;
        padding: 14px 50px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
      }
    .btn:hover {
        background-color: #ca341a;
        color: white;
      }

form {
    padding: 10px 30px 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#777777;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    
}

.box {
    float:left;
    position:relative;
    widows: 23px;

}

.box:hover {
    float:left;
    position:relative;
    widows: 23px;
    opacity: 0.3;

}

.box-text1 {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    text-align: center;
    background-color: #4aaaa5;
    padding: 12px 58px 12px 60px;
    color: white;
    font-size: 16px;
}

.box-text2 {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    text-align: center;
    background-color:#4aaaa5;
    padding: 12px 57px 12px 56px;
    color: white;
    font-size: 16px;
}

.box-text3 {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    text-align: center;
    background-color:#4aaaa5;
    padding: 12px 30px 12px 35px;
    color: white;
    font-size: 16px;
}

.box-text4 {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    text-align: center;
    background-color: #4aaaa5;
    padding: 12px 25px 12px 27px;
    color: white;
    font-size: 16px;
}

